*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div{
    width: 90%;
    height: 80%;
    overflow: hidden;
    margin-left: 1%;
    margin-top: 5rem;
}

.ul{
    display: flex;
    animation: slider 20s infinite alternate linear;
    width: 600%;
}

.li{
    width: 100%;
    list-style: none;
}

.imagen{
    width: 100%;
    height:70%;
    margin-top: -20px;
    border-radius: 5px;
}

@keyframes slider {
    0%{margin-left: 0;}
    10%{margin-left: 0;}
    15%{margin-left: -100%;}
    25%{margin-left: -100%;}
    30%{margin-left: -200%;}
    45%{margin-left: -200%;}
    50%{margin-left: -300%;}
    65%{margin-left: -300%;}
    80%{margin-left: -400%;}
    85%{margin-left: -400%;}
    90%{margin-left: -500%;}
    100%{margin-left: -500%;}
}

@media all and (max-width:1250px){
    .div{
        width: 85%;
        height: 65%;
    }
    .imagen{
        height: 80%;
    }
}

@media all and (max-width:1100px){
    .div{
        height: 72%;
    }
    .imagen{
        height: 85%;
        margin-top: 0px;
    }
}

@media all and (max-width:980px){
    .div{
        height: 75%;
    }
    .imagen{
        height: 95%;
        margin-top: -15px;
    }
}

@media all and (max-width:900px){
   .div{
       margin-top: 9rem;
       height: 57%;
       width: 98%;
   }
   .imagen{
       height: 80%;
   }
}

@media all and (max-width:800px){
    .div{
        height: 60%;
    }
    .imagen{
        height: 90%;
    }
 }

 @media all and (max-width:710px){
    .div{
        margin-top: 11rem;
    }
 
 }

 @media all and (max-width:495px){
    .div{
        margin-top: 12rem;
        height: 50%;
    }
    .imagen{
        margin-top: 5px;
    }
 
}

@media all and (max-width:400px) {
    .div{
        margin-top: 13rem;
    }

}

@media all and (max-width:290px) {
    .div{
        margin-top: 14rem;
        height: 45%;
    }

}