
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.div{
    position:relative;
    background-image: url(../images/vs.png);
    background-size: cover;
    width: 100%;
    height:680px;
    margin-top: -1rem;
    border-bottom: inset 3px #1e8305;
}

h1{
    font-size: 3rem;
    font-family: cursive;
    margin-left: 4rem;
    margin-top: 1rem;
    padding: auto;
    color: #fefffe;
    width: 28%;
    position:fixed;
}
h1:hover, .h2:hover{
     text-shadow: 0 0 10px #2ba506, 0 0 20px #2ba506, 0 0 30px #28d805, 0 0 40px #28d805,
     0 0 50px #fbff00, 0 0 60px #fbff00;
     transition: text-shadow 1.5s ; 
}

.h2{
    font-size: 3rem;
    font-family: cursive;
    margin-left: 28%;
    margin-top: 10rem;
    color: #fefffe;
    position: absolute;
    opacity: 0;
}

nav{
    margin-left: 40%;
    margin-top: 1.8rem;
    position:fixed;
 }

.a{
   position: relative;
   padding: 1.3rem ;
}

.li{
    display: inline-block;
    list-style: none;
 }
.ul  .a .li{
    position: relative;
    background: #019712;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: cursive;
    font-size: .8em;
    letter-spacing: 0.1em;
    padding: 10px 15px;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.ul  .a .li:hover{
    letter-spacing: 0.2em;
    background: #fd1605;
    color:#0e0e0d ;
    box-shadow: 0 0 35px #fd1605;
    border-radius: 10px;
}

.ul  .a .li:active{
    letter-spacing: 0.1em;
    padding: 5px 10px;
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
}

.ul  .a .li::before{
	content: '';
	position: absolute;
	inset: 2px;
	background: #0cdb24;
    border-radius: 10px;
}

.ul  .a .li span{
	position: relative;
	z-index: 1;
}
.ul  .a .li  i{
	position: absolute;
	inset: 0;
	display: block;
}
.ul  .a .li i::before{
	content: '';
	position: absolute;
	border: 2px solid #fd1605;
	top: -3.5px;
	left: 80%;
	width: 10px;
	height: 5px;
	transform: translateX(-50%);
	background: #0cdb24;
	transition: 0.5s;

}
.ul  .a .li:hover i::before{
	width: 20px;
	left: 20%;
}

.ul  .a .li i::after{
	content: '';
	position: absolute;
	border: 2px solid #fd1605;
	bottom: -3.5px;
	left: 20%;
	width: 10px;
	height: 5px;
	transform: translateX(-50%);
	background: #0cdb24;
	transition: 0.5s;
}
.ul  .a .li:hover i::after{
	width: 20px;
	left: 80%;
}

.ul  .a .li:active i::before{
     content: none;
    
}
.ul  .a .li:active i::after{
    content: none;
    
}

.ul  .a .sbr:hover{
    background: #c40183;
    box-shadow: 0 0 35px #c40183;
    
}
.ul  .a .sbr i::before{
	border: 2px solid #c40183;
}
.ul  .a .sbr i::after{
	border: 2px solid #c40183;
}
.ul  .a .sbr:active{
    letter-spacing: 0.1em;
    padding: 5px 10px;
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
}

.ul  .a .pry:hover{
    background: #640092;
    box-shadow: 0 0 35px #640092;
}
.ul  .a .pry i::before{
	border: 2px solid #640092;
}
.ul  .a .pry i::after{
	border: 2px solid #640092;
}
.ul  .a .pry:active{
    letter-spacing: 0.1em;
    padding: 5px 10px;
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
}

.ul  .a .cert:hover{
    background: #ff8800;
    box-shadow: 0 0 35px #ff8800;
}
.ul  .a .cert i::before{
	border: 2px solid #ff8800;
}
.ul  .a .cert i::after{
	border: 2px solid #ff8800;
}
.ul  .a .cert:active{
    letter-spacing: 0.1em;
    padding: 5px 10px;
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
}

.ul  .a .cont:hover{
    background: #fbff00d5;
    box-shadow: 0 0 35px #fbff00d5;
}
.ul  .a .cont i::before{
	border: 2px solid #fbff00d5;
}
.ul  .a .cont i::after{
	border: 2px solid #fbff00d5;
}
.ul  .a .cont:active{
    letter-spacing: 0.1em;
    padding: 5px 10px;
    background: #ffffff;
    box-shadow: 0 0 30px #ffffff;
}


section p{
    font-family: cursive;
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    position: absolute;
    margin-left: 28%;
    margin-top: 16rem;
   
}


.opacidad{
    margin-top: .5rem;
    width: 100%;
    height: 6rem;
    background-color: #04be1a99;
    position:fixed;
    z-index: 1;
    border-bottom: solid 3px #0f5517;
}
.opacidad:hover{
    box-shadow: 0 15px 45px #5f6b60;
    background-color: #99a19679;
}

.header{
    margin-top: .5rem;
    width: 100%;
    height: 6.4rem;
    background-color: #08ea23;
    position:fixed;
    z-index: 1;
}

.maquina_escribir{
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 20.5rem;
    margin-left: 28%;
    position: absolute;
    color: #ffffff;
    font-family: cursive;
    white-space: nowrap;
    border-radius: 4px solid;
    width: 35ch;
    animation: typing 3s steps(35),
    blink .7s infinite step-end alternate;
    overflow: hidden;
}
@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes blink {
    50%{
        border-color: transparent;
    }
}

.ilustracion{
  width: 300px;
  height: 300px;
  margin-left: 73%;
  margin-top: 8rem;
}

/** Agregando la parte risponsive al sitio web, en el componente navar.jsx*/  

@media all and (max-width:1350px) {


  h1{
      font-size: 2.5rem;
  }
  nav{
   margin-left: 35%;
 }
 .maquina_escribir{
     font-size: 1rem;
 }  
}




@media all and  (min-width:1101px) and (max-width:1250px){

    h1{
      
      margin-left: 1rem;
      font-size: 2rem;
    }
    section p{
      font-size: 2.5rem;
    }
    .ilustracion{
      width: 250px;
      height: 250px;
    
    }
    .div{
      height:660px;
    }
    nav{
      margin-left: 30%;
     
    }
    .li{
        padding: 1.1rem;
    }
      .ul  .a .li{
          font-size: .8rem;
          padding: 10px 13px;
          border-radius: 8px;
      }
      .ul  .a .li:hover{
  
          border-radius: 8px;
      }
      .ul  .a .li::before{
          border-radius: 8px;
      }
}


@media all and  (min-width:1000px) and (max-width:1100px) {

    h1{
        margin-left: .5rem;
        font-size: 2rem;
      }
     section p{
        font-size: 2.3rem;
      }
      .ilustracion{
        width: 240px;
        height: 240px;
      }
      nav{
        margin-top: 1.5rem;
        margin-left: 26%;  
    }
    .a{
        padding: .8rem;
    }

   }
   


@media all and (max-width:999px) {

  h1{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    width: 16rem;
  }
  section p{
    font-size: 2rem;
    margin-left: 25%;
 
  }
  .ilustracion{
    width: 200px;
    height: 200px;
   margin-top: 12rem;
  }
  .div{
    height:660px;
  }
  .maquina_escribir{
    font-size: .9rem;
    margin-top: 18.7rem;
    margin-left: 25%;
}

/**Botones de la barra de navegacion ***/
  nav{
      margin-left: 25%;
      width: 70%;
  }
  .a{
      padding: 1rem;
  }
    .ul  .a .li{
        font-size: .7rem;
        padding: 8px 12px;
        border-radius: 7px;
    }
    .ul  .a .li:hover{

        border-radius: 8px;
    }
    .ul  .a .li::before{
        border-radius: 7px;
    }
/*********Fin***********/
    .header{
        height: 7rem;
    }

    .opacidad{
        height: 6.5rem;
    }
 }
 
 @media all and (max-width:924px) {
    .header{
        height: 5.7rem;
       
    }
    .opacidad{
        height: 5.2rem;
    }
    nav{
        margin-left: 20%;
    }
    h1{
        font-size: 1rem;
        margin-top: 1.5rem;
    }
    /**Botones de la barra de navegacion ***/

    .a{
        padding: 0.7rem;
    }
    .ul  .a .li{
        font-size: .6rem;
    }
    /*********Fin***********/
 }

 @media all and  (max-width:780px){
    h1{
        visibility: hidden;
      }
    .h2{
        font-size: 1.8rem;
        font-family: 'lato';
        margin-left: 25%;
        margin-top: 12rem;
        opacity: 1;
    }
    nav{
        margin-left: 5%;
        width: 85%;
    }
    
 }

 @media all and  (max-width:645px){

      .h2,section p{
        font-size: 1.5rem;
        margin-left: 5%;
     
      }
      .ilustracion{
        width: 180px;
        height: 180px;
        margin-top: 11rem;
        margin-left: 60%;
      }

      .maquina_escribir{
          font-size: .7rem;
          margin-top: 18rem;
          margin-left: 5%;
      }
 
    nav{
        margin-left: 1%;
        width: 98%;
    }
   
 }



 
 @media all and (max-width:580px) {

   nav{
    margin-left: 5%;
    margin-top: 12px;
    width: 90%;
    }

    .header{
        height:4.5rem;
    }
    .opacidad{
        height: 4rem;
}
   .maquina_escribir{
    font-size: .7rem;
  }
    .ilustracion{
        margin-top: 7.6rem;
        width: 120px;
        height: 120px;
        margin-left: 63%;
    }
    .ul  .a .li{
       visibility: hidden;
    }
    .home, .user, .proyect{
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: 30px 30px;
    }
    .home{
        background-image: url('./../images/home.png');
    }
    .home:hover{
        background-image: url('./../images/home1.png');
    }
    .user{
        background-image: url('./../images/user.png');
    }
    .user:hover{
        background-image: url('./../images/user1.png');
    }
    .proyect{
        background-image: url('./../images/proyect.png');
    }
    .proyect:hover{
        background-image: url('./../images/proyect1.png');
    }
    .home:active, .user:active, .proyect:active{
        background-size: 26px 26px;
    }

    .certifi, .contact{
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: 40px 40px;
    }
    .certifi{
        background-image: url('./../images/certifi.png');
    }
    .certifi:hover{
        background-image: url('./../images/certifi2.png');
    }
    .contact{
        background-image: url('./../images/contact.png');
    }
    .contact:hover{
        background-image: url('./../images/contact1.png');
    }
    .certifi:active, .contact:active{
        background-size: 36px 36px;
    }

   .ul {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: space-around;
   }
}
